/env
/envvars
.DS_Store
*.swp
/activate.sh
/django/db.sqlite3
/django/tmp*.json
/django/discordbot/settings.json
/django/static-deployed
/django/logs
/django/initialize.sh
/django/reset.sh
/django/static/maps/
/django/tests/data/demos/*.dem.bz2
__pycache__
*.pyc
/node/node_modules
/node/package-lock.json
/node/resolve.json
