.field-validation-ok {
    display: inline-block;
    height: 1.2em;
    transform: translate(0px, 0.2em);
}

.field-validation-ok svg {
    height: 100%;
    width: auto;
}

#steam-auth-info {
    margin-top: 2cm;
}

#steam-auth-info h1 {
    font-size: 150%;
}
