h2 {
    border-bottom: 1px solid #424242;
    color: #424242;
    width: 790px;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 0.2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}

#player-of-the-week-list {
    list-style-type: none;
    position: relative;
}

#player-of-the-week-list .badge {
    width: 7.5mm;
    height: 7.5mm;
    position: relative;
    display: inline-block;
    filter: drop-shadow(0 0 1mm rgba(0,0,0,0.1));
    vertical-align: middle;
}

#player-of-the-week-list .potw-title {
    position: absolute;
    left: 4.5em;
    padding-top: 0.3em;
}

#player-of-the-week-list .potw-week-year {
    position: absolute;
    left: 18.5em;
    padding-top: 0.3em;
}

#player-of-the-week-list .potw-mode {
    position: absolute;
    left: 23.5em;
    font-weight: lighter;
    padding-top: 0.3em;
}

#other-achievements {
    border-spacing: 1rem;
    white-space: nowrap;
}

#other-achievements .badge-frequency {
    font-weight: lighter;
}

#other-achievements .badge {
    width: 15mm;
    height: 15mm;
    position: relative;
    display: inline-block;
    filter: drop-shadow(0 0 1mm rgba(0,0,0,0.2));
}

#other-achievements tr > td {
    vertical-align: top;
    padding: 0;
    position: relative;
}

#other-achievements tr > td:first-child {
    border-right: 1px solid #ccc;
    padding-right: 1rem;
}

#other-achievements .session-date {
    position: absolute;
    left: 9em;
    padding-top: 0.1em;
}

#other-achievements .session-time {
    position: absolute;
    left: 16em;
    padding-top: 0.1em;
}

#other-achievements .match-map {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: capitalize;
    padding-top: 0.1em;
}

#other-achievements .match-weekday {
    position: absolute;
    left: 7.5em;
    padding-top: 0.1em;
}

#other-achievements .match-date {
    position: absolute;
    left: 14em;
    padding-top: 0.1em;
}

#other-achievements .match-time {
    position: absolute;
    left: 21em;
    padding-top: 0.1em;
}

#other-achievements .match-badge-frequency {
    position: absolute;
    left: 25em;
    padding-top: 0.1em;
}