{% load static %}

<html>
<head>

<meta charset="utf-8">

<meta name="theme-color" content="#222" media=" (prefers-color-scheme: light)">
<meta name="theme-color" content="#222" media=" (prefers-color-scheme: dark)">

<title>CS2 :: {% block title %}{% endblock %}</title>

<link rel="stylesheet" type="text/css" href="{% static 'base.css' %}?{% now "U" %}">

<script language="javascript">
function autoscale_element(elem) {
    const parent_style = getComputedStyle(elem.parentElement);
    const max_width = elem.parentElement.clientWidth - parseFloat(parent_style.paddingLeft) - parseFloat(parent_style.paddingRight);
    const actual_width = elem.scrollWidth;
    let zoom = max_width / actual_width;
    if (zoom > 1) zoom = 1;
    elem.style.transform = "scale(" + zoom + ")";
    elem.style.transformOrigin = "0 0";
    elem.style.height = elem.scrollHeight * zoom;
    if (!elem.classList.contains('fixed-margin-top'))
        elem.style.marginTop = elem.actual_marginTop * zoom;
    if (!elem.classList.contains('fixed-margin-bottom'))
        elem.style.marginBottom = elem.actual_marginBottom * zoom;
}

function update_autoscale() {
    const autoscale_elements = document.querySelectorAll('.autoscale');
    for (var i = 0; i < autoscale_elements.length; ++i) {
        const elem = autoscale_elements[i];
        autoscale_element(elem);
    }
}

function autoscale() {
    const autoscale_elements = document.querySelectorAll('.autoscale');
    for (var i = 0; i < autoscale_elements.length; ++i) {
        const elem = autoscale_elements[i];
        const style = getComputedStyle(elem);
        elem.actual_marginTop = parseFloat(style.marginTop);
        elem.actual_marginBottom = parseFloat(style.marginBottom);
    }
    update_autoscale();
    window.onresize = function() {
        update_autoscale();
    };
}
</script>

</head>
<body onload="autoscale();">

<div id="header">

    <div id="logo">
        <a href="{% url 'squads' %}">
            <b>CS2</b>
            <span style="width: 5mm;">&nbsp;</span>Performance Board
        </a>
    </div>

    <ul id="navigation">

        {% if request.user.steam_profile %}

            <li id="logon">
                <p>
                    Howdy, <span class="username">{{ request.user.steam_profile.name }}</span><br>
                </p>
            </li>

        {% endif %}

        {% if request.user.steam_profile or squad %}

            <a href="{% if request.user.steam_profile %}{% url 'squads' %}{% else %}{% url 'squads' squad=squad.uuid %}{% endif %}"><li class="nav nav-{% block nav_squads %}{% endblock %}">Squads</li></a>
            <a href="{% if request.user.steam_profile %}{% url 'matches' %}{% else %}{% url 'matches' squad=squad.uuid %}{% endif %}"><li class="nav nav-{% block nav_matches %}{% endblock %}">Matches</li></a>

            {% if request.user.steam_profile %}

                <a href="{% url 'settings' %}"><li class="nav nav-{% block nav_settings %}{% endblock %}">Settings</li></a>

            {% endif %}

        {% endif %}

    </ul>

</div>

<div id="content">

    {% block content %}
    {% endblock %}

</div>

<div id="footer">
    <a href="https://github.com/kosmotive/cs2pb/tree/{{ version.branch }}" target="_blank">
        <b>CS2 Performance Board</b>
        {% if version %}
            <br>{{ version.sha|slice:"0:7" }} @ {{ version.date }}
            {% if version.branch != "master" %}
                <br><span class="branch-warning" title="This instance is currently running a branch with experimental features. Stability may be affected.">Experimental branch</span>
            {% endif %}
        {% endif %}
        <p>contribute on
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" style="margin-left: 0.2em; aspect-ratio: 1; height: 1.2rem;" viewBox="0 0 16 16">
            <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8"/>
        </svg>
        GitHub.com</p>
    </a>
</div>

{% if error %}<div id="error">{{ error }}</div>{% endif %}

</body>
</html>
