{% extends 'base.html' %}
{% load static %}
{% load stats_extras %}

{% block title %}Player{% endblock %}
{% block nav_squads %}active{% endblock %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'stats.css' %}?{% now "U" %}">
<link rel="stylesheet" type="text/css" href="{% static 'profile.css' %}?{% now "U" %}">

<script src="{% static 'plotly-2.35.0.min.js' %}" charset="utf-8"></script>
<script language="javascript">

/* Define Gaussian filter kernel.
 */
function gaussianKernel( sigma )
{
    const n = Math.round(4 * sigma);
    const N = 2 * n + 1;
    const kernel = new Array( N );
    const factor = 1;//1 / ( sigma * Math.sqrt( 2 * Math.PI ) );
    for( var i = 0; i <= n; ++i )
    {
        const val = factor * Math.exp
        (
            -Math.pow( n - i, 2 ) / ( 2 * Math.pow( sigma, 2 ) )
        );
        kernel[i] = val;
        kernel[N - i - 1] = val;
    }
    return kernel;
}

/* Define convolution.
 */
function convolve( data, kernel )
{
    const result = new Array( data.length );
    const n = Math.floor( kernel.length / 2 );
    for( var i = 0; i < data.length; ++i )
    {
        var value = 0;
        var weights = 0;
        for( var j = -n; j < +n; ++j )
        {
            const k = i + j;
            if( k >= 0 && k < data.length )
            {
                const kernelValue = kernel[ n - j ];
                value += kernelValue * data[ k ];
                weights += kernelValue;
            }
        }
        result[ i ] = value / weights;
    }
    return result;
}

/* Generate the input data.
 */
const matchNumList = [ {% for mp in participations %}{{ forloop.counter }}{% if not forloop.last %},{% endif %}{% endfor %} ];
const pv = [ {% for mp in participations %}
Math.sqrt(({{ mp.kills }} / {{ mp.deaths }}) * (0.01 * {{ mp.adr }})){% if not forloop.last %},{% endif %}
{% endfor %} ];
const matchDateList = [ {% for mp in participations %}
'{{ mp.pmatch.date_and_time }}'{% if not forloop.last %},{% endif %}
{% endfor %} ];

</script>

<div class="squad">

    <div class="squad-background"></div>

    <div class="squad-name"> {{ squad.name }} </div>

    <div class="autoscale squad-members-rows fixed-margin-top">

        <div class="squad-members">

            {% include 'stats/profile-card.html' with player=player request=request %}

        <div class="squad-member-details">

            <div class="pv-plot-controls">

                Smoothing:
                <input type="number" id="pv-plot-smooth" step="0.1" value="2.0" min="0.0" />
                <input type="checkbox" id="pv-plot-rescale" checked />
                <label for="pv-plot-rescale">Rescale</label>

            </div>

            <div id="pv-plot" style="width:600px; height: 280px;"></div>

            <h2>Performance with squad buddies</h2>
            
            <div id="squad-buddies-plot">

                <div class="squad-buddies-plot-names">
                    {% for buddy in squad_buddy_performances %}
                        <a href="{% url 'player' squad.uuid buddy.0.steamid %}" class="squad-buddies-plot-row">
                            <img src="{{ buddy.0.avatar_s }}" class="squad-buddies-plot-avatar" />
                            <div class="squad-buddies-plot-name">{{ buddy.0.name }}</div>
                        </a>
                    {% endfor %}
                </div>

                <div class="squad-buddies-plot-surface">
                    {% for buddy in squad_buddy_performances %}
                        <div class="squad-buddies-plot-row">

                            {% if buddy.1 < 1 %}

                                <div class="squad-buddies-plot-bar squad-buddies-plot-bar-negative" style="right: 50%; width: {{ 1|subtractf:buddy.1|multiply:50 }}%;"></div>

                                <div class="squad-buddies-plot-label squad-buddies-plot-label-negative" style="right: calc(50% + {{ 1|subtractf:buddy.1|multiply:50 }}%);">
                                    -{{ 1|subtractf:buddy.1|multiply:100|floatformat:1 }}%
                                </div>

                            {% else %}

                                <div class="squad-buddies-plot-bar squad-buddies-plot-bar-positive" style="left: 50%; width: {{ buddy.1|addf:'-1'|multiply:50 }}%;"></div>

                                <div class="squad-buddies-plot-label squad-buddies-plot-label-positive" style="left: calc(50% + {{ buddy.1|addf:'-1'|multiply:50 }}%);">
                                    +{{ buddy.1|addf:'-1'|multiply:100|floatformat:1 }}%
                                </div>

                            {% endif %}

                        </div>
                    {% endfor %}
                    <div class="squad-buddies-plot-baseline"></div>
                </div>

            </div>

            {% if badges.potw %}

                <h2>Trophy cabinet</h2>

                <ul id="player-of-the-week-list">{% for badge in badges.potw %}

                    <li>
                        <img src="{% static 'badges' %}/potw-{{ badge.position }}.png" class="badge" />

                        <span class="potw-title">Player of the Week
                        {% if badge.position == 1 %}
                            1<span class="sup">st</span>
                        {% elif badge.position == 2 %}
                            2<span class="sup">nd</span>
                        {% elif badge.position == 3 %}
                            3<span class="sup">rd</span>
                        {% endif %}
                        Class</span>
                        <span class="potw-week-year">{{ badge.potw.week }}/{{ badge.potw.year }}</span>
                        <span class="potw-mode">{{ badge.potw.mode|potw_mode_name }}</span>
                    </li>
            
                {% endfor %}</ul>

            {% endif %}

            <h2>Further achievements</h2>

            <table id="other-achievements">
                <tbody>
                    {% if badges.rising_star %}
                    <tr>
                        <td>
                            <img src="{% static 'badges' %}/rising-star.png" class="badge" />
                        </td>
                        <td>
                            <h3>Rising Star <span class="badge-frequency">({{ badges.rising_star|length }}&times;)</span></h3>
                            {{ badges.rising_star|list_of_gaming_sessions }}
                        </td>
                    </tr>
                    {% endif %}
                    {% for badge_type, badge in badges.match_badges.items %}
                        {% if badge.matches %}
                        <tr>
                            <td>
                                <img src="{% static 'badges' %}/{{ badge_type }}.png" class="badge" />
                            </td>
                            <td>
                                <h3>{{ badge.name }} <span class="badge-frequency">({{ badge.matches|match_badge_count }}&times;)</span></h3>
                                {{ badge.matches|list_of_match_badges }}
                            </td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>

        </div>

        </div>

    </div>

</div>

<script language="javascript">

const pvPlot = document.getElementById('pv-plot');
Plotly.newPlot( pvPlot, [] );

function updatePlot( sigma )
{
    const rescale = document.getElementById( 'pv-plot-rescale' );
    const kernel = gaussianKernel( sigma );
    const pv_smooth = kernel.length > 1 ? convolve( pv, kernel ) : pv;
    const config_yaxis = {
        title: { text: 'Player value' }
    };
    if( rescale.checked )
    {
        config_yaxis[ 'range' ] = [ Math.min(...pv) * 0.9, Math.max(...pv) * 1.1 ];
    }

    /* Compose traces.
     */
    traces = [
        {
            x: matchNumList,
            y: pv_smooth,
            mode: 'lines',
            name: 'Form',
            line: {
                shape: 'spline'
            }
        },
        {
            x: matchNumList,
            y: pv,
            mode: 'markers',
            name: 'Matches',
            text: matchDateList
        },
        {
            x: [{{ period_start }} + 1, {{ period_end }}],
            y: [{{ period_average }}, {{ period_average }}],
            mode: 'lines',
            name: '30-days average',
            hoverinfo: 'skip',
            line: {
                width: 2,
                dash: 'dot',
                color: '#ff6699'
            }
        }
    ];

    /* Compute confidences.
     */
    if( kernel.length > 1 )
    {
        const differences2 = new Array( pv.length );
        for( var i = 0; i < pv.length; ++i )
        {
            differences2[ i ] = Math.pow( pv[ i ] - pv_smooth[ i ], 2 );
        }
        const meanDifferences = convolve( differences2, kernel );
        const confidences    = new Array( pv.length );
        const confidences_lb = new Array( pv.length );
        const confidences_ub = new Array( pv.length );
        for( var i = 0; i < pv.length; ++i )
        {
            const uncertainty = Math.sqrt( meanDifferences[ i ] );
            confidences   [ i ] = 2 * uncertainty;
            confidences_lb[ i ] = pv_smooth[ i ] - uncertainty;
        }
        traces.push(
            {
                x: matchNumList,
                y: confidences_lb,
                fillcolor: '#00000000',
                type: 'scatter',
                mode: 'none',
                stackgroup: 'confidences',
                hoverinfo: 'skip',
                line: {
                    shape: 'spline'
                }
            }
        );
        traces.push(
            {
                x: matchNumList,
                y: confidences,
                fillcolor: '#3682be22',
                type: 'scatter',
                mode: 'none',
                stackgroup: 'confidences',
                hoverinfo: 'skip',
                line: {
                    shape: 'spline'
                }
            }
        );
    }

    Plotly.react( pvPlot, traces,
        {
            xaxis: { title: { text: 'Match count' } },
            yaxis: config_yaxis,
            margin: { t: 45, l: 50, b: 50, r: 10 },
            showlegend: false,
            width: 800,
            shapes: [
                {
                    type: 'line',
                    x0: {{ period_start }} + 1,
                    x1: {{ period_start }} + 1,
                    y0: 0,
                    y1: 1.08,
                    yref: 'paper',
                    line: {
                        width: 1,
                        color: '#ff6699'
                    }
                },
                {
                    type: 'line',
                    x0: {{ period_end }},
                    x1: {{ period_end }},
                    y0: 0,
                    y1: 1.08,
                    yref: 'paper',
                    line: {
                        width: 1,
                        color: '#ff6699'
                    }
                },
                {
                    type: 'rect',
                    x0: {{ period_start }} + 1,
                    x1: {{ period_end }},
                    y0: 0.96,
                    y1: 1.08,
                    yref: 'paper',
                    fillcolor: '#ff6699',
                    line: {
                        width: 0
                    },
                    label: {
                        text: '⇦ 30-days average ⇨',
                        textposition: 'top center',
                        font: {
                            size: 12,
                            weight: 'bold',
                            color: 'white'
                        },
                    },
                }
            ]
        },
        {
            displaylogo: false
        }
    );
}

const smoothing = document.getElementById( 'pv-plot-smooth' );
smoothing.value = Math.round( 0.5 * pv.length ) / 10;
smoothing.addEventListener
(
    'input',
    function( ev )
    {
        updatePlot( this.value );
    }
);

const smoothing_rescale = document.getElementById( 'pv-plot-rescale' );
smoothing_rescale.addEventListener
(
    'input',
    function( ev )
    {
        if( this.checked )
        {
            updatePlot( smoothing.value );
        }
    }
);

updatePlot( smoothing.value );
autoscale();
</script>

{% endblock %}
