name: Check settings

on:
  workflow_dispatch:
  pull_request:
  push:
    branches: ['master']

jobs:
  check_settings:

    runs-on: ubuntu-latest
    name: Check settings

    steps:

    - uses: actions/checkout@v5

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        
    - name: Check CSGO_API_ENABLED
      working-directory: ./django
      env:
        SECRET_KEY: 'django-insecure-xw%w2h+2dig8-_b_6&1(&67=d1748ur-tt%=e#3kgi@z*##jqa' # this is the uncritical SECRET_KEY from development.py
      run: |
        python -c "import csgo_app.settings.development; assert not csgo_app.settings.development.CSGO_API_ENABLED"
        python -c "import csgo_app.settings.production; assert csgo_app.settings.production.CSGO_API_ENABLED"
