name: Run test-suite

on:
  workflow_dispatch:
  pull_request:
  push:
    branches: ['master']

permissions:
  issues: write
  pull-requests: write

jobs:
  check_settings:

    runs-on: ubuntu-latest
    name: Run test-suite

    steps:

    - uses: actions/checkout@v4
      with:
        lfs: 'false'
        fetch-depth: 0

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - uses: kostrykin/report-test-coverage-action@v1.0.2
      with:
        gist-id: 48d2e30f4e914519ccb60090cf2ee742
        github-auth: ${{ secrets.GITHUB_TOKEN }}
        gist-auth: ${{ secrets.GIST_SECRET }}
        gist-filename: cs2pb.json
        working-directory: ./django
        run: |
          coverage run --source='.' manage.py test --failfast
          python -m coverage json --omit "tests/*.py,*/tests.py,*/migrations/*.py,manage.py"
      env:
        CS2PB_ADMIN_MAIL_ADDRESS: ${{ vars.CS2PB_ADMIN_MAIL_ADDRESS }}
        CS2PB_STEAM_API_KEY: ${{ vars.CS2PB_STEAM_API_KEY }}
        CS2PB_STEAM_USERNAME: ${{ vars.CS2PB_STEAM_USERNAME }}
        CS2PB_STEAM_PASSWORD: ${{ vars.CS2PB_STEAM_PASSWORD }}
